<h1>Editing post</h1>

<%= simple_form_for @post do |f| %>
  <%= render "form", f: f, post: @post %>
  <%= f.submit %>
<% end %>

<br>

<div>
  <%= link_to "Show this post", @post %> |
  <%= link_to "Back to posts", posts_path %>
</div>
